@model IEnumerable<BeWebApp.Models.AdminUser>

@{
    ViewBag.Title = "FormLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FormLogin</h2>

@using (Html.BeginForm("LoginAcount", "LoginUser"))
    @Html.AntiForgeryToken()
<table>
    <tr>
        <td>@Html.LabelFor(model => model.ID)</td>
        <td>@Html.TextBoxFor(model => model.ID, new { style = "field-validation-error" }}</td>
        <td>@Html.validationMessageFor(model => model.ID)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.PasswordUser)</td>
        <td>@Html.EditorFor(model => model.PasswordUser)</td>
        <td>@Html.ValidationMessageFor(model => model.PasswordUser)</td>
    @if (ViewBag.ErrorInfo == null)
    <p>@ViewBag.ErrorInfo</p>
    </tr>
    <tr>
        <td> </td>
        <td><input type="submit" value="Login" /></td>
    </tr>
</table>